.leftBlock {
  .banner {
    padding: 0 0 2.5em 0;

    .item {
      color: #666;
      text-align: center;
      font-weight: bold;
      background-color: #eee;
      margin-bottom: 10px;

      a {
        width: 100%;
        display: block;
        position: relative;
        @include aspectRatio(3, 1, cover);
        // &:focus-visible {
        //   &:after {
        //     position: absolute;
        //     width: 100%;
        //     height: 100%;
        //     box-shadow: 0px 0px 0px 2px lighten($colorPrimary, 5) inset;
        //     content: '';
        //     z-index: 9;
        //     top: 0;
        //     left: 0;
        //   }
        // }
      }
    }
  }

  .listBlock {
    padding: 0 0 0.5em 0;
    margin-bottom: 1.5em;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    .title {
      margin: 0 0 1em;
      padding: 0.5em;
      text-align: center;
      color: #fff;
      background-color: $colorPrimary;
      font-size: 1.25em;
      font-weight: bolder;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }

    ul {
      margin: 0;
      padding: 0 1em;
      list-style-type: none;

      li {
        margin: 0 0 0.5em;
        padding: 0 0 0.5em;
        border-bottom: 1px solid #ccc;

        time {
          display: inline-block;
          vertical-align: middle;
          font-size: 0.813rem;
        }

        .dept {
          display: inline-block;
          padding: 0 0.5em;
          background-color: #f1f1f1;
          color: #555;
          font-size: 0.813em;
        }

        a {
          display: block;
          padding: 0 0 0.25em;
          line-height: 1.4em;
          font-size: 0.938em;
          color: #333;
          margin: 0.5em 0;

          &:hover {
            color: $aHover;
          }
        }
      }
    }
  }

  // 左側節點選單
  .nodeMenu {
    padding: 0 0 0.5em 0;
    margin-bottom: 1.5em;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    .title {
      margin: 0 0 1em;
      padding: 0.5em;
      text-align: center;
      color: #fff;
      background-color: $colorPrimary;
      font-size: 1.25em;
      font-weight: bolder;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }

    ul {
      margin: 0;
      padding: 0 1em 0em;
      list-style-type: none;

      li {
        font-size: rem(15);
        margin: 0;
        padding: 0;
        // border-bottom: solid 1px #d7d1ca;

        &:last-child {
          border: none;
        }

        a {
          display: block;
          padding: 0.5em 0 0.5em 1em;
          line-height: 1.6em;
          color: #333;
          position: relative;
          &:before {
            content: '';
            width: 5px;
            height: 5px;
            position: absolute;
            top: 1.1em;
            left: 0.2em;
            background: #704430;
            border-radius: 50%;
            // background: url(../images/weblink_libg.png) no-repeat center center;
            // background-size: 1em auto;
          }

          &:hover {
            color: $aHover;
          }
        }
      }

      ul {
        padding: 0 0 0 1em;
        li {
          a {
            margin: 0;
            border: none;
          }
        }
      }
    }
  }
}
