.megaMenu {
  & > ul {
    position: relative;
    & > li.active {
      position: initial;
      & > ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: auto;
        gap: 10px;
        background: rgba(255, 255, 255, 0.9);
        padding: 1em;
        border-radius: 12px;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
        left: 0;
        right: 0;

        & > li {
          flex: 0 1 calc((100% - 50px) / 5);
          // flex-grow: 1;
        }
        ul {
          display: block;
          position: relative;
          left: 0;
          opacity: 1;
          background: none;
          padding-left: 20px;
        }
      }
    }
    ul {
      li.hasChild {
        a {
          &::after {
            display: none;
          }
        }
      }
    }
  }
}
